In [23]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [24]:
df = pd.read_csv('Desktop/Thinkful/LoanStats3d.csv', skipinitialspace=True,
    header=1)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use `get_dummies` from Pandas to generate a dummy variable for every categorical column and see what happens off of this kind of naive approach.

from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = df.drop('loan_status', 1)
Y = df['loan_status']
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv = 5)

## Data Cleaning

Lets look at all our categorical variables and see how many distinct counts there are...

In [26]:
categorical = df.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [27]:
# Convert ID and Interest Rate to numeric
df['id'] = pd.to_numeric(df['id'], errors = 'coerce')
df['int_rate'] = pd.to_numeric(df['int_rate'].str.strip('%'), errors = 'coerce')

# Drop other columns with many unique variables

df.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace = True)

Wonder what was causing the dtype error on the id column, which should have all been integers? Let's look at the end of the file.

In [28]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Remove two summary rows at the end that don't actually contain data.
df = df[:-2]

In [30]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,8 years,...,0.0,1.0,100.0,100.0,0.0,0.0,32950.0,25274.0,9200.0,15850.0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,10+ years,...,0.0,2.0,56.5,100.0,0.0,0.0,152650.0,8621.0,9000.0,0.0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0

Now this should be better. Let's try again.

In [31]:
pd.get_dummies(df)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0,0,0,0,0,1,0,0,0,0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,0,1,0,0,0,0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0,0,0,0,0,1,0,0,0,0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0,0,0,0,0,1,0,0,0,0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,0,1,0,0,0,0
5,68506798.0,73396623.0,23000.0,23000.0,23000.0,8.49,471.77,64000.0,18.28,0.0,...,0,0,0,0,0,1,0,0,0,0
6,68566886.0,73456723.0,29900.0,29900.0,29900.0,12.88,678.49,65000.0,21.77,0.0,...,0,0,0,0,0,1,0,0,0,0
7,68577849.0,73467703.0,18000.0,18000.0,18000.0,11.99,400.31,112000.0,8.68,0.0,...,0,0,0,0,0,1,0,0,0,0
8,66310712.0,71035433.0,35000.0,35000.0,35000.0,14.85,829.90,110000.0,17.06,0.0,...,0,0,0,0,0,1,0,0,0,0
9,68476807.0,73366655.0,10400.0,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,...,0,0,0,0,0,1,0,0,0,0
10,68341763.0,72928789.0,20000.0,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,...,0,0,0,0,0,0,1,1,0,0
11,68356421.0,73246236.0,22400.0,22400.0,22400.0,12.88,508.30,95000.0,22.98,0.0,...,0,0,0,0,0,1,0,0,0,0
12,68426545.0,73316365.0,16000.0,16000.0,16000.0,12.88,363.07,70000.0,26.40,0.0,...,0,0,0,0,0,1,0,0,0,0
13,68407277.0,73297111.0,3600.0,3600.0,3600.0,13.99,123.03,55000.0,5.91,0.0,...,0,0,0,0,0,1,0,0,0,0
14,68355089.0,73244858.0,24700.0,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,...,0,0,0,0,0,1,0,0,0,0
15,68466926.0,73356763.0,10000.0,10000.0,10000.0,6.49,306.45,85000.0,13.07,0.0,...,0,0,0,0,0,1,0,0,0,0
16,68338832.0,73542831.0,1400.0,1400.0,1400.0,12.88,47.10,64000.0,34.95,0.0,...,0,0,0,0,0,1,0,0,0,0
17,68426831.0,73316657.0,11950.0,11950.0,11950.0,13.44,405.18,34000.0,10.20,0.0,...,0,0,0,0,0,1,0,0,0,0
18,66624733.0,71350547.0,18000.0,18000.0,18000.0,19.48,471.70,150000.0,9.39,0.0,...,0,0,0,0,0,1,0,0,0,0
19,68616873.0,73519699.0,8000.0,8000.0,8000.0,11.48,263.74,42000.0,34.80,0.0,...,0,0,0,0,0,1,0,0,0,0
20,67275481.0,72077199.0,20000.0,20000.0,20000.0,8.49,631.26,85000.0,17.61,1.0,...,0,0,0,0,0,1,0,0,0,0
21,68476668.0,73366513.0,20000.0,20000.0,20000.0,9.17,637.58,180000.0,14.67,0.0,...,1,0,0,0,0,1,0,0,0,0
22,68476702.0,73366548.0,28000.0,28000.0,28000.0,13.44,949.38,125000.0,7.49,0.0,...,0,0,0,0,0,1,0,0,0,0
23,68436666.0,73326493.0,5000.0,5000.0,5000.0,13.44,169.54,79000.0,12.70,0.0,...,0,0,0,0,0,1,0,0,0,0
24,68596180.0,73485987.0,20000.0,20000.0,20000.0,5.32,602.30,65000.0,18.83,0.0,...,0,0,0,0,0,1,0,0,0,0
25,67849662.0,72708407.0,4225.0,4225.0,4225.0,14.85,146.16,35000.0,15.22,2.0,...,0,0,0,0,0,1,0,0,0,0
26,68526883.0,73416719.0,15000.0,15000.0,15000.0,5.32,451.73,44000.0,15.34,0.0,...,0,0,0,0,0,1,0,0,0,0
27,68607141.0,73509983.0,17600.0,17600.0,17600.0,5.32,530.03,88000.0,26.59,0.0,...,1,0,0,0,0,1,0,0,0,0
28,68476715.0,73366561.0,6000.0,6000.0,6000.0,7.49,186.61,100000.0,13.28,1.0,...,0,0,0,0,0,1,0,0,0,0
29,67715283.0,72569997.0,16000.0,16000.0,16000.0,12.88,538.18,65000.0,18.96,0.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,36631385.0,39374138.0,13000.0,13000.0,13000.0,8.19,408.52,85000.0,8.05,1.0,...,0,0,0,0,0,1,0,0,0,0
421066,36231083.0,38942474.0,15000.0,15000.0,15000.0,11.99,498.15,70000.0,8.47,0.0,...,0,0,0,0,0,1,0,0,0,0
421067,36691397.0,39434133.0,20000.0,20000.0,20000.0,6.99,617.46,72000.0,27.24,0.0,...,0,0,0,0,0,1,0,0,0,0
421068,36743377.0,39486112.0,4200.0,4200.0,4200.0,15.99,147.64,48000.0,36.93,0.0,...,0,0,0,0,0,1,0,0,0,0
421069,36331554.0,39042967.0,26950.0,26950.0,26950.0,8.19,846.88,54000.0,18.11,0.0,...,0,0,0,0,0,1,0,0,0,0
421070,36460697.0,39182359.0,23000.0,23000.0,23000.0,15.59,554.32,50000.0,31.95,0.0,...,0,0,0,0,0,1,0,0,0,0
421071,35773415.0,38468842.0,18700.0,18700.0,18700.0,17.86,473.44,52000.0,11.28,0.0,...,0,0,0,0,0,1,0,0,0,0
421072,36250801.0,38962184.0,6000.0,6000.0,6000.0,17.86,216.50,90000.0,2.84,0.0,...,0,0,0,0,0,1,0,0,0,0
421073,36371802.0,39103231.0,15000.0,15000.0,15000.0,11.44,329.44,57000.0,15.77,0.0,...,0,0,0,0,0,1,0,0,0,0
421074,36440728.0,39152101.0,25000.0,25000.0,25000.0,15.99,607.82,103000.0,5.27,0.0,...,0,0,0,0,0,1,0,0,0,0
421075,36361815.0,39093260.0,26500.0,26500.0,26500.0,8.67,545.87,92000.0,29.60,1.0,...,0,0,0,0,0,1,0,0,0,0
421076,35591131.0,38288343.0,25000.0,25000.0,25000.0,15.59,602.52,55000.0,5.52,0.0,...,0,0,0,0,0,1,0,0,0,0
421077,36201871.0,38913321.0,21000.0,21000.0,21000.0,6.03,639.15,65000.0,17.09,0.0,...,0,0,0,0,0,1,0,0,0,0
421078,36381756.0,39013193.0,8000.0,8000.0,8000.0,8.19,251.40,50000.0,17.62,0.0,...,0,0,0,0,0,1,0,0,0,0
421079,36231724.0,38943173.0,12000.0,12000.0,12000.0,9.49,384.34,40000.0,25.65,1.0,...,0,0,1,0,0,1,0,0,0,0
421080,36301729.0,39023153.0,10000.0,10000.0,10000.0,6.49,306.45,75000.0,33.66,0.0,...,0,0,0,0,0,1,0,0,0,0
421081,36250208.0,38961532.0,13150.0,13150.0,13150.0,14.99,312.77,30000.0,1.00,0.0,...,0,0,0,0,0,1,0,0,0,0
421082,36241316.0,38952731.0,6225.0,6225.0,6225.0,16.49,220.37,27000.0,18.58,0.0,...,0,0,0,0,0,1,0,0,0,0
421083,36231718.0,38943165.0,10775.0,10775.0,10775.0,6.03,327.95,54000.0,13.22,1.0,...,0,0,0,0,0,1,0,0,0,0
421084,36381704.0,39013139.0,7000.0,7000.0,7000.0,14.31,240.30,57000.0,16.80,2.0,...,0,0,0,0,0,1,0,0,0,0
421085,36421485.0,39142898.0,4000.0,4000.0,4000.0,8.67,126.59,50000.0,12.63,0.0,...,0,0,1,0,0,1,0,0,0,0
421086,35094480.0,37777829.0,7500.0,7500.0,7500.0,9.49,240.22,40000.0,25.63,0.0,...,0,0,0,0,0,1,0,0,0,0
421087,36260758.0,38972123.0,10850.0,10850.0,10850.0,19.24,399.04,32000.0,29.44,0.0,...,0,0,1,0,0,1,0,0,0,0
421088,36221446.0,38932858.0,11575.0,11575.0,11575.0,15.59,404.61,25400.0,27.08,0.0,...,1,0,0,0,0,1,0,0,0,0
421089,36330911.0,39042282.0,12000.0,12000.0,12000.0,11.99,398.52,63000.0,23.69,1.0,...,0,0,0,0,0,1,0,0,0,0
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,11.99,332.10,31000.0,28.69,0.0,...,0,0,0,0,0,1,0,0,0,0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,11.99,797.03,79000.0,3.90,0.0,...,0,0,0,0,0,1,0,0,0,0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,15.99,316.07,35000.0,30.90,0.0,...,0,0,0,0,0,1,0,0,0,0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,19.99,317.86,64400.0,27.19,1.0,...,0,0,1,0,0,1,0,0,0,0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,11.99,664.20,100000.0,10.83,0.0,...,0,0,0,0,0,1,0,0,0,0

It finally works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

This model may take a few minutes to run.

In [32]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
rfc = ensemble.RandomForestClassifier()
X = df.drop('loan_status', 1)
Y = df['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.98021895, 0.9801477 , 0.98093135, 0.98162   , 0.96891475,
       0.97838993, 0.93877793, 0.98074046, 0.97983708, 0.98062034])

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate. **Accuracy** is how close a measured value is to the actual (true) value

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

# DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices

## 1. Univariate Selection

Statistical tests can be used to select those features that have the strongest relationship with the output variable.

The example below uses the chi squared (chi^2) statistical test for non-negative features to select 4 of the best features

In [33]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [34]:
#numerical = df.select_dtypes(include=['int', 'float'])

In [36]:
#array = numerical.values
#X = numerical[:,0:8]
#Y = numerical[:,8]
# feature extraction
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y)
# summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)
# summarize selected features
print(features[0:5,:])

[1.734e+10 1.851e+10 2.848e+06 2.848e+06 2.839e+06 3.177e+04 6.344e+04
 3.071e+07 1.820e+04 5.402e+02 4.988e+03 3.178e+02 1.964e+02 1.860e+07
 7.431e+03 1.177e+09 1.177e+09 5.875e+08 5.873e+08 9.388e+08 3.303e+07
 4.828e+05 3.048e+08 5.341e+07 2.884e+09 9.570e+01 0.000e+00 1.978e+01
 1.608e+05 2.536e+08 4.052e+07 1.813e+04 3.343e+07 2.011e+01 1.275e+05
 8.202e+04 4.609e+04 3.172e+04 4.986e+03 4.562e+02 1.671e+03 3.109e+03
 1.511e+02 1.961e+03 4.441e+03 2.596e+02 3.355e+03 3.237e+02 8.788e+00
 1.188e+02 1.182e+04 1.969e+02 7.980e+02 3.942e+02 3.112e+08 3.005e+06
 4.017e+07 1.981e+06 1.168e+03 2.397e+03 4.901e+03 2.571e+03 8.723e+01
 2.786e+03 4.624e+03 4.109e+03 1.660e+03 4.390e+01 1.924e+02 1.984e+01
 3.920e+00 6.659e+00 3.306e+00 6.552e+00 7.814e+00 5.900e+00 4.631e+00
 4.662e+01 9.302e-01 7.828e+02 1.481e+01 8.774e+02 1.291e+03 1.623e+01
 1.192e+03 5.591e+02 1.748e+02 2.254e+03 1.092e+03 3.311e+03 1.574e+01
 9.633e+01 8.246e+02 3.465e+02 1.373e+03 1.031e+03 2.521e+02 0.000e+00
 2.761e+01 1.521e+03 3.279e+02 3.786e+00 9.200e+01 1.136e+02 1.108e+01
 2.990e+01 7.623e+01 5.648e+01 1.754e+01 2.128e+02 3.198e+01 2.251e+00
 2.112e+02 2.701e+01 3.786e+00 1.518e+03 3.301e+02 4.651e-01 1.788e+01
 1.113e+02 9.190e+01 3.786e+00 1.119e+01 3.148e+01 7.578e+01 4.651e-01
 5.553e+01 4.651e-01 4.651e-01 4.328e+01 4.651e-01 4.651e-01 4.651e-01
 3.786e+00 3.245e+01 4.651e-01 4.651e-01 3.786e+00 4.651e-01 1.571e+03
 9.042e+02 2.847e+03 1.940e+04 8.084e+03 4.470e+04 1.491e+04 2.918e+04
 1.115e+03 1.745e+04 1.779e+02 1.583e+04 1.087e+05 7.214e+03 2.472e+04
 4.993e+03 2.361e+04 1.861e+03 2.208e+04 3.789e+03 2.107e+04 1.149e+04
 4.904e+04 1.239e+04 4.715e+04 9.481e+03 4.270e+04 1.015e+05 1.751e+04
 4.651e-01 1.065e+01 7.992e+02 1.107e+04 2.186e+03 1.344e+04 1.061e+01
 4.868e+03 2.422e+04 2.631e+02 8.571e+03 1.230e+02 5.868e+03 3.156e+04
 1.943e+03 1.333e+04 1.469e+03 9.940e+03 4.496e+02 9.916e+03 1.014e+03
 8.842e+03 3.772e+03 1.577e+04 3.357e+03 6.428e+04 2.989e+03 8.761e+03
 3.051e-02 2.511e+01 1.694e+01 8.648e+00 1.873e+01]
[[6.801e+07 7.287e+07 1.367e+04 3.794e+02]
 [6.835e+07 7.324e+07 6.636e+03 2.986e+02]
 [6.847e+07 7.336e+07 0.000e+00 2.081e+04]
 [6.847e+07 7.336e+07 1.926e+04 8.580e+02]
 [6.850e+07 7.338e+07 0.000e+00 8.251e+03]]

# PCA

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [45]:

pca = PCA(n_components=5)
X2 = pca.fit_transform(X)

In [46]:
rfc.fit(X,Y)

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [47]:

rfc1_fi = rfc.feature_importances_
indicies = np.argsort(rfc1_fi)
feat_names = X.columns

In [48]:
# Function to print the name and gini importance of each feature
def feat_importance(feat_names, model):
    for feature in zip(feat_names, model.feature_importances_):
        print(feature)

In [49]:
feat_importance(feat_names, rfc)

('id', 0.003197352282297878)
('member_id', 0.002648053210357592)
('loan_amnt', 0.010072880565264725)
('funded_amnt', 0.005999597336135382)
('funded_amnt_inv', 0.007019301928885368)
('int_rate', 0.0030650321351553492)
('installment', 0.007802707377695427)
('annual_inc', 0.0020583887887574903)
('dti', 0.002276849264743594)
('delinq_2yrs', 0.0005830093684539843)
('inq_last_6mths', 0.0006804398577938995)
('open_acc', 0.0012867556968383812)
('pub_rec', 0.000394929079652644)
('revol_bal', 0.0022636171933354365)
('total_acc', 0.0016319441678736245)
('out_prncp', 0.17545077953869495)
('out_prncp_inv', 0.112109500196573)
('total_pymnt', 0.030786002788133003)
('total_pymnt_inv', 0.04433913422243831)
('total_rec_prncp', 0.03884648181622664)
('total_rec_int', 0.013503421319581502)
('total_rec_late_fee', 0.002890545283530937)
('recoveries', 0.016975585511429032)
('collection_recovery_fee', 0.018932833372708395)
('last_pymnt_amnt', 0.06494633265794894)
('collections_12_mths_ex_med', 0.0001328659422417982)
('policy_code', 0.0)
('acc_now_delinq', 5.298351862582896e-05)
('tot_coll_amt', 0.000673935848679967)
('tot_cur_bal', 0.002141227242114759)
('total_rev_hi_lim', 0.0022013579819939164)
('acc_open_past_24mths', 0.0014620468744335853)
('avg_cur_bal', 0.0021431549663475384)
('chargeoff_within_12_mths', 7.437972326132235e-05)
('delinq_amnt', 6.065238818928917e-05)
('mo_sin_old_rev_tl_op', 0.00206994041169535)
('mo_sin_rcnt_rev_tl_op', 0.0015649031534890816)
('mo_sin_rcnt_tl', 0.0013398759378087269)
('mort_acc', 0.0008673936193777616)
('num_accts_ever_120_pd', 0.0006145688620217032)
('num_actv_bc_tl', 0.001136410636129365)
('num_actv_rev_tl', 0.0012437520971529269)
('num_bc_sats', 0.0012101059073370537)
('num_bc_tl', 0.0014084910382334396)
('num_il_tl', 0.0016148583169239734)
('num_op_rev_tl', 0.0011700304567205115)
('num_rev_tl_bal_gt_0', 0.001214649448184136)
('num_sats', 0.001315712151744147)
('num_tl_30dpd', 2.9350804569991287e-05)
('num_tl_90g_dpd_24m', 0.00024345583205267026)
('num_tl_op_past_12m', 0.0012301907582765279)
('pct_tl_nvr_dlq', 0.0012965321534113387)
('pub_rec_bankruptcies', 0.0002984070009087022)
('tax_liens', 0.000214667619837958)
('tot_hi_cred_lim', 0.0021923624921909085)
('total_bal_ex_mort', 0.0019396851686914462)
('total_bc_limit', 0.001984220812165257)
('total_il_high_credit_limit', 0.001741500651249349)
('term_ 36 months', 0.0025461483047190003)
('term_ 60 months', 0.0009165574228872902)
('grade_A', 0.0003885783097736387)
('grade_B', 0.00033250313792081805)
('grade_C', 0.00030827264608026324)
('grade_D', 0.0002859728241162716)
('grade_E', 0.0005136506929546542)
('grade_F', 0.00018529249980054786)
('grade_G', 5.9325436077997326e-05)
('emp_length_1 year', 0.0001991609447352744)
('emp_length_10+ years', 0.00031581527299058375)
('emp_length_2 years', 0.00022451359105826168)
('emp_length_3 years', 0.00020570956277008145)
('emp_length_4 years', 0.00017709303955792705)
('emp_length_5 years', 0.00015598640774408938)
('emp_length_6 years', 0.0001506157232660046)
('emp_length_7 years', 0.0001533816305898213)
('emp_length_8 years', 0.0001826226270604914)
('emp_length_9 years', 0.00016739510048108724)
('emp_length_< 1 year', 0.0002258844316681777)
('home_ownership_ANY', 0.0)
('home_ownership_MORTGAGE', 0.00036363290582003786)
('home_ownership_OWN', 0.0002490117917113467)
('home_ownership_RENT', 0.0003223255481712763)
('verification_status_Not Verified', 0.00032796435521743856)
('verification_status_Source Verified', 0.00035949310676410185)
('verification_status_Verified', 0.00033641022245140646)
('issue_d_Apr-2015', 0.00021002768129457674)
('issue_d_Aug-2015', 0.0002078201406303059)
('issue_d_Dec-2015', 0.0004321573065699428)
('issue_d_Feb-2015', 0.00013561589722503503)
('issue_d_Jan-2015', 0.0009808897904141562)
('issue_d_Jul-2015', 0.00027915335081675317)
('issue_d_Jun-2015', 0.00029798161212099826)
('issue_d_Mar-2015', 0.00019261738442129524)
('issue_d_May-2015', 0.00019272403314962125)
('issue_d_Nov-2015', 0.0002235544764034732)
('issue_d_Oct-2015', 0.00019927473863495595)
('issue_d_Sep-2015', 0.00019363468339317724)
('pymnt_plan_n', 0.0)
('purpose_car', 5.628731770249686e-05)
('purpose_credit_card', 0.0002420719666681611)
('purpose_debt_consolidation', 0.0002677673973955963)
('purpose_educational', 0.0)
('purpose_home_improvement', 0.0001558195537919149)
('purpose_house', 3.4417417609825877e-05)
('purpose_major_purchase', 7.650374939542162e-05)
('purpose_medical', 3.829404756389567e-05)
('purpose_moving', 4.328532381336517e-05)
('purpose_other', 0.00013151661051770595)
('purpose_renewable_energy', 4.142616710885898e-06)
('purpose_small_business', 6.244970890850667e-05)
('purpose_vacation', 3.62901605748655e-05)
('purpose_wedding', 0.0)
('title_Business', 5.682760274967309e-05)
('title_Car financing', 4.1770806211855205e-05)
('title_Credit Card/Auto Repair', 0.0)
('title_Credit card refinancing', 0.0002586049708942262)
('title_Debt consolidation', 0.0002744859274205431)
('title_DebtC', 0.0)
('title_Green loan', 8.753833265220945e-06)
('title_Home buying', 4.1924206118106456e-05)
('title_Home improvement', 0.00012743261859043004)
('title_Learning and training', 9.76407627151833e-07)
('title_Major purchase', 8.993798835645431e-05)
('title_Medical expenses', 5.4972056082952154e-05)
('title_Moving and relocation', 3.51800428406825e-05)
('title_New Baby and New House (CC Consolidate)', 0.0)
('title_Other', 0.00015616949816645294)
('title_Pay off Lowes Card', 0.0)
('title_Paying off higher interest cards & auto', 0.0)
('title_Prescription Drug and Medical Costs', 0.0)
('title_SAVE', 0.0)
('title_Simple Loan Until Contract Is Completed', 0.0)
('title_Student Loan', 0.0)
('title_Trying to come back to reality!', 0.0)
('title_Vacation', 3.1705391897150794e-05)
('title_considerate', 0.0)
('title_new day', 0.0)
('title_new kitchen for momma!', 0.0)
('title_odymeds', 0.0)
('initial_list_status_f', 0.0003728805004279582)
('initial_list_status_w', 0.00040679944715622037)
('last_pymnt_d_Apr-2015', 4.609872174917325e-06)
('last_pymnt_d_Apr-2016', 0.000166249315664108)
('last_pymnt_d_Aug-2015', 2.0054732679715145e-05)
('last_pymnt_d_Aug-2016', 0.006488370542168817)
('last_pymnt_d_Dec-2015', 4.7402023730288755e-05)
('last_pymnt_d_Dec-2016', 0.01688017877544076)
('last_pymnt_d_Feb-2015', 4.411837611263355e-06)
('last_pymnt_d_Feb-2016', 0.005181199812317773)
('last_pymnt_d_Jan-2015', 0.0)
('last_pymnt_d_Jan-2016', 0.00016905391945507033)
('last_pymnt_d_Jan-2017', 0.1371122337626462)
('last_pymnt_d_Jul-2015', 0.00019221451387294998)
('last_pymnt_d_Jul-2016', 0.006589689734179868)
('last_pymnt_d_Jun-2015', 0.0008670553798867479)
('last_pymnt_d_Jun-2016', 0.0003921770998259683)
('last_pymnt_d_Mar-2015', 7.718084895677856e-05)
('last_pymnt_d_Mar-2016', 0.0034574389858383495)
('last_pymnt_d_May-2015', 2.7241226396735004e-06)
('last_pymnt_d_May-2016', 0.0035847484291893703)
('last_pymnt_d_Nov-2015', 2.036713626735759e-05)
('last_pymnt_d_Nov-2016', 0.01381385846150295)
('last_pymnt_d_Oct-2015', 2.4468282078635488e-05)
('last_pymnt_d_Oct-2016', 0.011682229878974926)
('last_pymnt_d_Sep-2015', 0.0001824480736977761)
('last_pymnt_d_Sep-2016', 0.012810099163540095)
('next_pymnt_d_Feb-2017', 0.08675170425562966)
('next_pymnt_d_Jan-2017', 0.004033416768350773)
('next_pymnt_d_Jul-2016', 3.7339398435160723e-06)
('next_pymnt_d_Mar-2017', 2.845322000288834e-06)
('last_credit_pull_d_Apr-2015', 6.053956805337181e-07)
('last_credit_pull_d_Apr-2016', 2.7034567178203094e-05)
('last_credit_pull_d_Aug-2015', 5.8094591828804285e-06)
('last_credit_pull_d_Aug-2016', 0.0015914068946169886)
('last_credit_pull_d_Dec-2014', 0.0)
('last_credit_pull_d_Dec-2015', 0.000770011160209618)
('last_credit_pull_d_Dec-2016', 0.007338070532563403)
('last_credit_pull_d_Feb-2015', 0.0)
('last_credit_pull_d_Feb-2016', 6.675814752392867e-05)
('last_credit_pull_d_Jan-2015', 0.0)
('last_credit_pull_d_Jan-2016', 2.5759608061606148e-05)
('last_credit_pull_d_Jan-2017', 0.046407907745092535)
('last_credit_pull_d_Jul-2015', 7.045737676853298e-06)
('last_credit_pull_d_Jul-2016', 0.0001284807415991758)
('last_credit_pull_d_Jun-2015', 1.8633111588139013e-06)
('last_credit_pull_d_Jun-2016', 0.001633240556061925)
('last_credit_pull_d_Mar-2015', 4.2807269360734e-07)
('last_credit_pull_d_Mar-2016', 0.0002896185743265265)
('last_credit_pull_d_May-2015', 1.8290661047900923e-06)
('last_credit_pull_d_May-2016', 0.0001585388845052709)
('last_credit_pull_d_Nov-2015', 4.579513236958487e-06)
('last_credit_pull_d_Nov-2016', 8.756827723228239e-05)
('last_credit_pull_d_Oct-2015', 2.7271188294035336e-05)
('last_credit_pull_d_Oct-2016', 0.007762942615543458)
('last_credit_pull_d_Sep-2015', 1.0545548431890162e-05)
('last_credit_pull_d_Sep-2016', 9.268416188341574e-05)
('application_type_INDIVIDUAL', 1.2299777463013409e-05)
('application_type_JOINT', 1.6419484262780324e-05)
('verification_status_joint_Not Verified', 6.498321425216482e-06)
('verification_status_joint_Source Verified', 6.783616518014141e-06)
('verification_status_joint_Verified', 4.653474822003714e-06)

In [50]:
from sklearn.feature_selection import SelectFromModel
# Create a selector object that will use the random forest classifier to identify
# features that have an importance of more than 0.01
sfm = SelectFromModel(rfc, threshold=0.01)

# Train the selector
sfm.fit(X, Y)

SelectFromModel(estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
        max_features=None, norm_order=1, prefit=False, threshold=0.01)

In [51]:
# Print the names of the most important features
for feature_list_index in sfm.get_support(indices=True):
    print(feat_names[feature_list_index])

funded_amnt
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
recoveries
collection_recovery_fee
last_pymnt_amnt
last_pymnt_d_Dec-2016
last_pymnt_d_Jan-2017
last_pymnt_d_Nov-2016
last_pymnt_d_Oct-2016
last_pymnt_d_Sep-2016
next_pymnt_d_Feb-2017

### Create A Data Subset With Only The Most Important Features

In [52]:
# Transform the data to create a new dataset containing only the most important features
# Note: We have to apply the transform to both the training X and test X data.
X_important = sfm.transform(X)

### Train A New Random Forest Classifier Using Only Most Important Features

In [53]:
# Create a new random forest classifier for the most important features

cross_val_score(rfc, X_important, Y, cv=10)

array([0.966, 0.973, 0.977, 0.98 , 0.969, 0.975, 0.972, 0.979, 0.974,
       0.981])