In [117]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # this is used for the plot the graph 
%matplotlib inline
df = pd.read_csv('Desktop/Thinkful/SummaryStatisticAssignment.csv')

In [118]:
!pwd

/Users/anastasia

In [119]:
df.head(7)

     name  age
0   Greg    14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5  Oliver    8
6   Cindy    6

Question N1 - statistics

In [120]:
ages = df['age']
import statistics
def statistics(ages):

    mean = np.mean(ages) # First we will find a mean value
    median = np.median(ages)  # finding Median using NumPy
    #statistics.median(ages) # finding Median using Statistics
    #mode = statistics.mode(ages) # finding mode
    variance = np.var(ages) # finding variance
    Standart_Dev = np.std(ages) # finding Standart Dev (if it was sample: np.std(df['age'], ddof=1))  
    Standart_Error = np.std(ages) / np.sqrt(len(ages)) # finding Standart Error
    print('mean:', mean)
    print('median:', median)
    print('mode:', mode)
    print('variance:', variance)
    print('Standart_Dev:', Standart_Dev)
    print('Standart_Error:', Standart_Error)
statistics(ages)
df.describe()

mean: 9.857142857142858
median: 10.0
mode: 8
variance: 6.408163265306122
Standart_Dev: 2.531435020952764
Standart_Error: 0.9567925036515135

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [121]:
# finding mode v.2
# Generate a list of unique elements along with how often they occur.
#(values, counts) = np.unique((ages), return_counts=True)

# The location in the values list of the most-frequently-occurring element.
#ind = np.argmax(counts)

# The most frequent element.
#values[ind]

Question N2 - Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance 
to describe the data, which would you pick and why?

As a central tendency I would chose median.
As a estimate of variance I would chose Standart_Dev

Question N3 - Cindy has a BD

In [126]:
#I'm going to change my df to df2 and will take new list "ages2"
df2 = df.copy()
df2['age'][6] = 7
df2.head(7)
#df.loc["Cindy"].replace['age'](to_replace=7)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     name  age
0   Greg    14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5  Oliver    8
6   Cindy    7

In [127]:
ages2 = df2['age']
ages2

0    14
1    12
2    11
3    10
4     8
5     8
6     7
Name: age, dtype: int64

In [128]:
statistics(ages2)

mean: 10.0
median: 10.0
mode: 8
variance: 5.428571428571429
Standart_Dev: 2.32992949004287
Standart_Error: 0.8806305718527109

Question N4 - Replacing Oliver with 1-year old Jessica

In [129]:

df3 = df2.copy()
df3['age'][5] = 1
df3['name'][5] = 'Jessica'
df3.head(7)
#ages3 = df['name'].replace('Oliver', 'Jessica')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      name  age
0    Greg    14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5  Jessica    1
6    Cindy    7

In [132]:
ages3 = df3['age']
ages3

0    14
1    12
2    11
3    10
4     8
5     1
6     7
Name: age, dtype: int64

In [134]:
statistics(ages3)

mean: 9.0
median: 10.0
mode: 8
variance: 15.428571428571429
Standart_Dev: 3.927922024247863
Standart_Error: 1.4846149779161806

'''Question N5 - it's mean of TV Guide, Entertainment Weekly and Pop Culture Today '''

In [138]:
print('Brady Bunch fans are {}% of adult Americans.'.format(int(np.mean([20, 23, 17]))))

Brady Bunch fans are 20% of adult Americans