In [1]:
import scrapy
from scrapy.crawler import CrawlerProcess


class ErinCondren(scrapy.Spider):
    name = "AS"
    
     # URL to start with.
    start_urls = ['https://www.erincondren.com/softbound-lifeplanner']

    # What to do with the URL.  Here, we tell it to download all the code and save
    # it to the mainpage.html file
    def parse(self, response):
        #price = response.css('div.product-image img ::attr(data-price)').extract()
        #name = response.css('h2.product-name a::text').extract()
        #print(price)
        #print(name)
        #for item in response.css('div.catalog-container.clearfix'):
            yield {
            'name': response.css('h2.product-name a::text').extract(),
            'price': response.css('div.product-image img ::attr(data-price)').extract()
            }
            
#process = CrawlerProcess()            
# Tell the script how to run the crawler by passing in settings.
process = CrawlerProcess({
    'FEED_FORMAT': 'json',         # Store data in JSON format.
    'FEED_URI': 'ErinCondren.json',  # Name our storage file.
    'LOG_ENABLED': False           # Turn off logging for now.
    #'CLOSESPIDER_PAGECOUNT' : 3
})
# Start the crawler with our spider
process.crawl(ErinCondren)
process.start()

In [3]:
import pandas as pd

df = pd.read_json('ErinCondren.json', orient='records')
print(df.shape)
print(df.head())

(1, 2)
                                                name  \
0  [                 Shimmer Charcoal Softbound L...

                                               price
0  [0.00, 35.00, 35.00, 30.00, 35.00, 35.00, 30.0...

In [4]:
df

,name,price
0,[ Shimmer Charcoal Softbound L...,"[0.00, 35.00, 35.00, 30.00, 35.00, 35.00, 30.0..."

In [68]:
for i in df.name:
    print(i[0])

                 Shimmer Charcoal Softbound LifePlannerâ„¢ - Vertical, 8x10

In [69]:
for i in df.name:
    
    df1 = pd.DataFrame(i, columns =['Names'])

In [70]:
df1

                                               Names
0                   Shimmer Charcoal Softbound Li...
1                   Shimmer Rose Gold Softbound L...
2                   Shimmer Rose Gold Softbound L...
3                   Kaleidoscope Colorful Softbou...
4                   Kaleidoscope Colorful Softbou...
5                   Kaleidoscope Colorful Softbou...
6                   Kaleidoscope Neutral Softboun...
7                   Shimmer Turquoise Softbound L...

In [84]:
for i in df.price:
    
    df2 = pd.DataFrame(i, columns =['Price'])

In [85]:
df2

    Price
0    0.00
1   35.00
2   35.00
3   30.00
4   35.00
5   35.00
6   30.00
7    0.00
8   35.00
9   35.00
10   0.00

In [86]:
df2 = df2.drop(df2.index[[0, 7, 10]])

In [87]:
df2

   Price
1  35.00
2  35.00
3  30.00
4  35.00
5  35.00
6  30.00
8  35.00
9  35.00

In [88]:
df2 = df2.reset_index()

In [89]:
df2

   index  Price
0      1  35.00
1      2  35.00
2      3  30.00
3      4  35.00
4      5  35.00
5      6  30.00
6      8  35.00
7      9  35.00

In [90]:

EC =pd.concat([df1, df2], axis=1)
del EC['index']

In [91]:
EC

                                               Names  Price
0                   Shimmer Charcoal Softbound Li...  35.00
1                   Shimmer Rose Gold Softbound L...  35.00
2                   Shimmer Rose Gold Softbound L...  30.00
3                   Kaleidoscope Colorful Softbou...  35.00
4                   Kaleidoscope Colorful Softbou...  35.00
5                   Kaleidoscope Colorful Softbou...  30.00
6                   Kaleidoscope Neutral Softboun...  35.00
7                   Shimmer Turquoise Softbound L...  35.00